:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --negro: #000000;
    --amarillo: #FFC107;
    --azulClaro:#0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2 {
    text-align: center;
}


/* Configuraci贸n de barra de navegaci贸n y cabecera */

.nav-bg {
    background-color: var(--azulClaro);
}

.contenedor {
    max-width: 100rem;
    margin: 0px auto;

}

.navegacion-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px) {
    .navegacion-principal {
        flex-direction: column;
    }

    .contenedor {
        margin-left: 15px;
        margin-right: 15px;
    }

    .servicios {
        flex-direction: column;
        /* grid-template-rows: 1fr 1fr 1fr; */
    }

    .boton {
        width: 75%;
    }

}

.navegacion-principal a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem;
    
}

.navegacion-principal a:hover{
    color: var(--oscuro);
    background-color: var(--amarillo);
    text-decoration: none;
}


body {
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
    font-size: 1.6rem;
    font-family: 'Krub', sans-serif;
}

.sombra {
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.65);
    background-color: var(--blanco);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

.titulo {
    font-size: 3.8rem;
    
}

.titulo span {
    font-size: 2rem;
}

.hero {
    background-image: url("/img/hero.jpg");
    height: 45rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contenido-hero {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2 {
    font-weight: 700;
    font-size: 3rem;
}

.contenido-hero h2, p {
    color: var(--blanco);
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boton {
    background-color: var(--azulClaro);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.boton:hover {
    color: var(--oscuro);
    background-color: var(--amarillo);
    text-decoration: none;
}

form .boton{
    margin-top: 0px;
}


/* Configuraci贸n del main */

.servicios {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aplicaciones-web svg {
    margin: 0.5rem;
}

.iconos {
    background-color: var(--amarillo);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
}


main h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

main p, main h3 {
    color: var(--negro);
    font-size: 1.6rem;
    font-weight: 400;
}

main h3 {
    color: var(--azulClaro);
    
}

main p {
    width: 80%;
    text-align: center;
}


/* Configuraci贸n del formulario */

.formulario {
    background-color: var(--gris);
    margin: 0 auto;
    width: min(60rem, 90%);
    padding: 2rem;
    border-radius: 1rem;
}

.campo {
    margin-bottom: 1rem;
}

.formulario legend {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--amarillo);
}

.formulario fieldset {
    border: none;
}

.campo label{
    display: block;
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
}

.input-text {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
}

.campo textarea {
    height: 20rem;
}

@media (min-width:768px) {

    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        gap: 1rem;

        .campo:nth-child(3),
        .campo:nth-child(4) {
            grid-column: 1/3;
        }
    }
}


/* Formulario Presupuesto */

.tecnologia-backend {
    display: none;
}

#backend:checked ~ .tecnologia-backend {
    display: block;
}

.campo {
    margin: 2rem 0 2rem 0;
}

/* Footer */

footer p {
    color: var(--negro);
    text-align: center;
}


