:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --amarillo: #FFC107;
    --azulClaro:#0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}

html {
    font-size: 62.5%;
}

h1, h2, h3 {
    text-align: center;
}


.bg-color {
    background-color: #0097A7;
}

.navegacion-principal {
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navegacion-principal a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem;

}

.navegacion-principal a:hover{
    color: var(--oscuro);
    background-color: var(--amarillo);
    text-decoration: none;
}


body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    font-family: 'Krub', sans-serif;
}

.titulo {
    font-size: 3.8rem;
    
}

.titulo span {
    font-size: 2rem;
}

.cabecera {
    background-image: url("/img/hero.jpg");
    height: 45rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contenido-cabecera {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-cabecera h2 {
    font-weight: 700;
    font-size: 3rem;
}

.contenido-cabecera h2, p {
    color: var(--blanco);
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contactar {
    background-color: var(--azulClaro);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

}

main p{
    color: black;
}
