html {
    font-size: 62.5%;
}


body {
    background-color: blanchedalmond;
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    
}

.cabecera {
    background-image: url("/img/hero.jpg");
}